@font-face {
    font-family: 'Roboto';
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype');
    src: url('../fonts/roboto/Roboto-Regular.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Bold.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Black.ttf') format('truetype'),
    url('../fonts/roboto/Roboto-Light.ttf') format('truetype');
}

html{
    font-family: 'Roboto';
}

td {
    font-size: 13px;
}

.bg-silver {
    background: #EFEFEF 0% 0% no-repeat padding-box;
}

span.info {
    font-size: 14px;
    font-weight: 600;
    color: silver;
    border: solid 1px silver;
    border-radius: 100px;
    padding: 0px 6px;
    position: relative;
    top: -4px;
    left: 10px;
}

#form-index h2 {
    color: #515151;
    font-family: 'Roboto';
}

#form-index h2 ~ small{
    right: 0;
    bottom: 10px;
}

.card.bg-silver{
    background: #F5F5F5 0% 0% no-repeat padding-box;
    box-shadow: 0px 2px 2px #00000067 !important;
    border-radius: 4px !important;
    opacity: 1;
}

.table-light tr th{
    background: #e0e0e0;
    border: 2px solid #dbdbdb;
    font-family: 'Roboto';
    font-weight: bold;
    font-size: 13px;
}

.bg-green{
    background: #5CAC21 !important;
    border-color: #a8d08b !important;
    opacity: 1 !important;
}

option:disabled {
    color: #c3c3c3;
}

.table>tbody {
    background: white;
}

.table-bordered>:not(caption)>*>* {
    border-width: 0 2px;
}

tbody, td, tfoot, th, thead, tr {
    border-width: 2px;
}

.tooltip-inner {
    background: silver;
    color: #464646;
    padding: 10px 6px;
    font-family: Roboto;
}
.bs-tooltip-auto[data-popper-placement^=right] .tooltip-arrow::before, .bs-tooltip-end .tooltip-arrow::before{
    border-right-color: silver;
}
